.first_h{
    background-color: #ffffff;
    color: #2196f3;
    text-align: center;
    
  }

.question_box {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #21f3c9;
    border-radius: 4%;
    border-width:fixed;
    margin-left: 10%;
    margin-right: 10%;
  }